<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div class="introBox">
    <h1>404 - Opps, Diese Seite existiert nicht :/</h1>
    
    <p class="introText notification">
      Es scheint, als existiert die Seite nicht, die du aufrufen wolltest. Unter <a href="/contact">Kontakt</a> kannst du uns schreiben, falls du einen Fehler gefunden hast oder hilfe benötigst. LG
    </p>
   </div>
  
  
  </body>

</html>