<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div id="theorieDisplay">
      <h1>Die Vier Ohren</h1>
      <h2>von Friedemann Schulz von Thun</h2>

      <div class='introText notification navigation'>
        <h1>Inhalt</h1>
        <a href="#intro">
          Einleitung
        </a>
        <a href="#pic">
          Modell
        </a>
        <a href="#sachebene">
          Die Sachebene
        </a>
        <a href="#selbstoffenbarung">
          Die Selbstoffenbarung
        </a>
        <a href="#appell">
          der Appell
        </a>
        <a href="#beziehungsebene">
          Die Beziehungsebene
        </a>
        <a href="#beispiele">
          Beispiele
        </a>
        
      </div>
      
      <p class="introText" id="intro">
        Das Nachrichtenquadrat von Schulz von Thun zeigt auf, dass wenn wir mit einer anderen Person kommunizieren, wir auf vier Ebenen eine Botschaft senden.
        <br>
        <ul>
        <li><b>Sachebene</b></li>
        <li><b>Selbstoffenbarung</b></li>
        <li><b>Appell</b></li>
        <li><b>Beziehungsebene</b></li>
        </ul>
      </p>
      <img id="pic" class='modelImg' src='/static/pictures/4_ohren.png' alt='Das Nachrichtenquadrat'>
      <hr>
      <p class="introText" id="sachebene">
        <b>Die Sachebene</b><br>
        Die Sachebene beschreibt die Fakten und die Sachverhalte der Nachricht. Nehmen wir die Aussage "Ich habe Hunger!" als Beispiel. Während wir auf den anderen Ebenen etwas in diese Aussage hineininterpretieren können, ist die Botschaft auf der Sachebene nur, dass ich Hunger habe. Wenn ich sage: "Heute ist ein schöner Tag.", ist auf der Sachebene nur die Mitteilung, dass heute ein schöner Tag ist. In der Sachebene gibt es keine Interpretation! Wie das gemeint ist, wird besser verständlich, wenn wir die anderen Ebenen anschauen.
      </p>
      <hr class="thin">
      <p class="introText" id="selbstoffenbarung">
        <b>Die Selbstoffenbarung</b><br>
        Die Selbstoffenbarung ist das, was ich mit dem Senden einer Nachricht über mich selbst preis gebe. Wenn ich zum Beispiel sage:"Vielen Dank, dass du meine Webseite besuchst!", offenbare ich, dass ich dankbar bin. <i>(Wenn wir es auf der Sachebene anschauen, sage ich nur, dass du auf meiner Webseite warst)</i><br> Sage ich: "Ich habe Hunger!", so sage ich in der Selbstoffenbarung, dass ich gerne etwas essen würde. Oder dass ich schon lange nichts mehr gegessen habe. Und hier ist ein wichtiger Punkt im vergleich zur Sachebene. Die Selbstoffenbarung ist eine Interpretation und daher können zwei verschiedene Empfänger unterschiedliche Selbstoffenbarungen empfangen.
      </p>
      <hr class="thin">

      <p class="introText" id="appell">
        <b>Der Appell</b><br>
        Der Appell ist der Teil der Botschaft, die eine Aufforderung beinhaltet. Wenn ich sage "Ich habe Hunger!", so teile ich auf der Appell-Ebene mit, dass wir jetzt doch bitte etwas Essen gehen sollen. Oder ich möchte, dass der Empfänger mir etwas zu Essen bringt. Auch diese Ebene kann interpretiert werden.
      </p>
      <hr class="thin">

      <p class="introText" id="beziehungsebene">
        <b>Die Beziehungsebene</b><br>
        Die Beziehungsebene ist der Teil, der mitteilt, was der Sender vom Empfänger hält und wie sie zueinander stehen. Bei unserem Beispiel von "Ich habe Hunger!", ist die Beziehungsebene, dass der Empfänger verantwortlich dafür ist, meinen Hunger zu stillen.
      </p>
      <hr><br><br>

      <p class="introText" id="beispiele">
        <h2>Am besten versteht man das Nachrichtenquadrat, indem man einige Beispiele durchliesst und selbst schreibt. Daher habe ich dir hier einige Beispiele geschrieben.</h2>
      </p>
      <hr class="thin">
      <p class="introText">
        <b>Aussage: </b>Heute ist aber schönes Wetter<br><br>
        <b>Sachebene: </b> Das Wetter ist heute schön.<br>
        <b>Selbstoffenbarung: </b>Ich würde gerne etwas draussen machen<br>
        <b>Appell: </b>Komm mit mir nach draussen!<br>
        <b>Beziehungsebene: </b>Ich mag deine Gesellschaft und möchte mit dir gemeinsam das Wetter geniessen.<br>
      </p>
      <hr class="thin">
      <p class="introText">
        Das Beispiel oben ist nur eine Mögliche Lösung, um die Aussage nach dem Nachrichtenquadrat aufzuschlüsseln. Da ausser der Sachebene alle anderen Ebenen interpretiert werden können, kann deine Lösung komplett anders aussehen:
      </p>
      <p class="introText">
        <b>Aussage: </b>Heute ist aber schönes Wetter<br><br>
        <b>Sachebene: </b> Das Wetter ist heute schön.<br>
        <b>Selbstoffenbarung: </b>Ich weiss nicht, über was ich reden soll, möchte aber mit dir sprechen.<br>
        <b>Appell: </b>Führe eine Unterhaltung mit mir.<br>
        <b>Beziehungsebene: </b>Ich möchte dich gerne besser kennenlernen.<br>
      </p>
      <hr class="thin">
      <p class="introText">
        Wenn du die Aufgabe hast, eine Aussage nach dem Nachrichtenquadrat aufzuschlüsseln, kannst du also viele verschiedene Antworten geben. Du darfst hier kreativ sein. Wichtig ist nur, dass du einen Bezug zur Aussage aufrecht erhälst. Wäre die Aussage: "Ich habe Hunger", kannst du im Appell nicht schreiben: "Geh die Wäsche waschen!" Hier fehlt der Bezug.
      </p>
      <hr class="thin">

      <p class="introText">
        <b>Aussage: </b>Schatz, heute läuft der neue Avengers-Film im Kino an.<br><br>
        <b>Sachebene: </b> Heute läuft der neue Avengers-Film im Kino an.<br>
        <b>Selbstoffenbarung: </b>Ich würde ihn gerne mit dir schauen gehen.<br>
        <b>Appell: </b>Komm mit mir den Film schauen!<br>
        <b>Beziehungsebene: </b>Ich finde, wir sollten zusammen etwas unternehmen. Ich mag dich. Ich liebe dich!<br>
      </p>

   </div>
  
  
  </body>

</html>