<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

    <div class="introBox">
    <h1>Die Vier Ohren</h1>
    <h2>von Friedemann Schulz von Thun</h2>

    <p class="introText notification">
      Der Inhalt dieser Theorie ist noch nicht fertig gestellt. Wenn du diese Seite gerne so bald als Möglich komplett haben willst, schreib mir eine Nachricht unter dem Raster <a href="/contact">Kontakt.</a> Bedenke aber bitte, dass ich die Webseite neben der Arbeit freiwillig betreibe. :)  
    </p>
    
    <p class="introText">
      Schulz von Thun geht davon aus, dass wir mit jeder Nachricht, die wir senden, dem Empfänger auf vier Ebenen etwas sagen. Diese Ebenen sind:
      <br><br><b>Sachebene</b>
      <br><b>Selbstoffenbarung</b>
      <br><b>Appell</b>
      <br><b>Beziehungsebene</b>
      <br><br>
      Die Komponenten der vier Ebenen sind in jeder Nachricht enthalten, jedoch nicht immer gleich gewichtet. So ist bei der Aussage: "Heb d'Fresse" der Beziehungsaspekt hoch: <i>Ich halte nicht viel von dir</i> Aber auch der Appell ist stark vertreten: <i>Sei Ruhig/Lass mich in Ruhe.</i> Der sachliche Inhalt ist bei dieser Botschaft eher gering.
    </p>

   </div>
  
  
  </body>

</html>