<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div id="theorieDisplay">
      <h1>Die Vier Ohren</h1>
      <h2>von Friedemann Schulz von Thun</h2>

      <div class='introText notification navigation'>
        <h1>Inhalt</h1>
        <a href="#fenster">
          Einleitung
        </a>
        <a href="#kommunikation">
          Modell
        </a>
        
      </div>
      
      <p class="introText">
        Das Nachrichtenquadrat von Schulz von Thun zeigt auf, dass wenn wir mit einer anderen Person kommunizieren, wie auf vier Ebenen eine Botschaft senden. 
        <br>
        <b>Sachebene</b>
        <br><b>Selbstoffenbarung</b>
        <br><b>Appell</b>
        <br><b>Beziehungsebene</b>
        <br><br>
        
      </p>

   </div>
  
  
  </body>

</html>