<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div id="theorieDisplay">
    <h1>Die 5 Axiome der Kommunikation</h1>
    <h2>nach Paul Watzlawick</h2>
    
    <p class="introText">
      Paul Watzlawick hat in der zweiten Hälfte des 20. Jahrhundert die 5 Axiome der Kommunikation entwickelt. Axiom bedeutet, dass es sich nicht um eine Theorie oder ein Modell handelt, sondern um 5 Grundsätze, die bei jeder Art der Kommunikation gelten. Zum Beispiel das erste Axiom: "Man kann nicht nicht kommunizieren." <b>Im Grunde genommen</b> können wir nur kommunizieren. Das gilt für alle Arten der Kommunikation.
    </p>

     
    <div class='introText notification navigation'>
      <h1>Die 5 Grundsätze:</h1>
      <a href="#1">
        1. Man kann nicht nicht kommunizieren
      </a>
      <a href="#2">
        2. Jede Kommunikation hat einen Inhalts- und einen Beziehungsaspekt.
      </a>
      <a href="#3">
        3. Jede Aktion ist immer auch eine Reaktion.
      </a>
      <a href="#4">
        4. Menschliche Kommunikation ist digital und / oder analog.
      </a>
      <a href="#5">
        5. Kommunikationsabläufe verlaufen symmetrisch oder komplementär.
      </a>
    </div>
    <hr>

    <p class="introText">
      Was bedeuten diese Axiome und wie können sie uns in unserer Arbeit nützlich sein? Nehmen wir als Beispiel ein schüchternes Kind, dass immer am Rande der Gruppe steht und wegschaut, wenn du es ansprechen möchtest. Da es sich bei den Axiomen um Grundsätze handelt, geben sie dir keinen Lösungsvorschlag, jedoch kannst du mit ihrer Hilfe die Kommunikation des Kindes besser verstehen und dann selbst geeignete Lösungen suchen.
    </p>
    <hr>
    <p class="introText" id="1">
      <b>Man kann nicht nicht kommunizieren:</b> Bei unserem Beispiel sehen wir, dass auch wenn das Kind nicht kommunizieren möchte, durch seine Körperhaltung und die Tatsache, dass es keine Antwort gibt, kommuniziert es mit uns, ob es will oder nicht. "Ich fühle mich in der Gruppe nicht wohl" oder "Ich weiss nicht, wie ich antworten kann" können mögliche Botschaften sein, die es aussendet.
    </p>
    <hr>

    <p class="introText" id="2">
      <b>Jede Kommunikation hat einen Inhalts- und einen Beziehungsaspekt:</b> Bei jeder Botschaft übermitteln wir einen Sachinhalt(Inhaltsaspekt) und eine Information, wie wir zum Empfänger stehen(Beziehungsaspekt). In unserem Beispiel ist der Sachinhalt "Ich fühle mich in der Gruppe nicht wohl". Es ist eine Tatsache. Der Beziehungsaspekt kann sein:"Ich traue dir noch nicht ganz". Es zeigt auf, wie das Kind zu dir steht.
    </p>
    <hr>

    <p class="introText" id="3">
      <b>Jede Aktion ist immer auch eine Reaktion:</b> Hier geht es darum, dass unsere Kommunikation immer auf vorherigen Geschehnissen aufbaut. Vielleicht wurde dem Kind in unserem Beispiel zuvor das Spielzeug weggenommen und als Reaktion darauf zieht es sich zurück. Seine Art, wie es jetzt mit der Gruppe kommuniziert ist eine Reaktion auf die Aktion zuvor. Auch wenn wir eine Person zum ersten Mal sehen, ist unsere Art, wie wir kommunizieren eine Reaktion auf frühere Erlebnisse. Wenn wir uns kennenlernen würden, denkst du vielleicht: "Ah er ist aber sympathisch". Oder "Ah er schein mir arrogant." Vielleicht kennst du Personen, die ein ähnliches Auftreten wie ich haben und hast daher diese Vorurteile. Wenn wir zum ersten Mal miteinander Kommunizieren, ist deine Art, wie du kommunizierst eine Reaktion auf deine Vorurteile. (Vorurteile müssen nicht immer schlecht sein. :))
    </p>
    <hr>

    <p class="introText" id="4">
      <b>Menschliche Kommunikation ist digital und / oder analog:</b> Digital ist das "Was wird gesagt." und Analog das "Wie wird es gesagt". Digital bildet also den Sachinhalt(Worte). Analog ist der nonverbale Teil der Kommunikation(Mimik/Gestik). In unserem Beispiel ist der digitale Anteil praktisch null, da das schüchterne Kind keinen Sachinhalt vermittelt. Der analoge Teil ist dafür sehr gross. Die Haltung und die Mimik des Kindes sind Träger der Kommunikation.
    </p>
    <hr>

    <p class="introText" id="5">
      <b>Kommunikationsabläufe verlaufen symmetrisch oder komplementär</b> Dieses Axiom beschreibt die Beziehung in der du und das Kind miteinander steht. Ist die Kommunikations symmetrisch, dann begegnet ihr euch auf Augenhöhe. Komplementär ist die Kommunikation, wenn eine Partei höher steht als die andere. In der Kita versuchen wir zwar, dem Kind auf Augenhöhe zu begegnen, dass heisst, eine symetrische Kommunikation zu pflegen. Jedoch wird sie immer auch ein Stück weit komplementär sein, da wir die Verantwortung nicht dem Kind übergeben können.
    </p>

 </div>
  
  
  </body>

</html>