<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

  
  <div id='theorieDisplay'>
    <h1>Die Fünf-Säulen der Identität</h1>
    <h2>nach Hilarion Petzold</h2>
    <div class='introText'>
      <p>
        Unter <b>Identität</b> (v. lat: identitas = Wesenseinheit) versteht man die Einzigartigkeit eines Lebewesens, insbesondere eines Menschen.
        Deine Identität ist das, was dich von deinen Eltern, deinen Mitarbeiter:innen und allen anderen Menschen auf der Welt unterscheidet.<br><br>Die Identität entwickelt und verändert sich ständig. Dabei werden Informationen aus dem Leib-Selbst ("Wie sehe ich mich selbst") und der Umwelt ("Wie werde ich von meinen Mitmenschen gesehen") bewertet und übernommen oder zurückgewiesen. Das heisst, dass deine Identität durch deine eigene Meinung, deine Gefühle etc. im Laufe deines Lebens verändert. Du fragst dich, wer du sein möchtest und wie du dein Leben leben kannst. Du bildest deine eigene Identität. Gleichzeitig wird deine Identität von den Menschen um dich herum beeinflusst. Was erwarten deine Eltern, dein:e Partner:in, deine Freunde von dir? Wirst du ihren Erwartungen gerecht oder sind dir andere Interessen wichtiger? Diese Entscheidungen sind für jeden Menschen anders, jeder ist individuel.<br>
        <b>Hilarion Petzold geht davon aus, dass unsere Identität von fünf Säulen getragen wird. Es sind die sogenannten "Identitätssäulen"</b>
      </p>

      
    </div>

    <img class='modelImg' src='/static/pictures/5_saulen.jpg' alt='Fünf säulen nach Petzold'>

    <div class='introText'>
      <p>Nach Petzold zeigen diese fünf Säulen, ob wir mit unserer eigenen Identität und damit unserem Leben zufrieden sind. Wenn alle fünf Säulen stabil stehen und du selbst mit deinen Säulen zufrieden bist, dann ist die Wahrscheinlichkeit hoch, dass du glücklich im Leben bist.
      In unserer Arbeit als FaBe geht es natürlich auch darum, den betreuten Personen zu helfen, diese Fünf Säulen stabil zu halten oder aufzubauen, sollten sie fehlen.</p>
      <hr>
      <p>
        <b>Arbeit und Leistung:</b><br> Bist du stolz auf deine Arbeit? Findest du deine geleistete Arbeit sinnvoll? Hast du in deiner Arbeit eine Zukunftsperspektive? Freust du dich, arbeiten zu gehen? Bist du für deine Arbeit anerkant?<br><br>
        Diese Säule kannst du bei den Kindern dadurch stärken, indem du ihnen Werschätzung für ihr Tun aussprichst. Die Werschätzung kann in vielen verschiedenen Formen geschehen. Zum Beispiel als Lob ("Danke, dass du mir beim Abstauben hilfst."), von Aufmerksamkeit ("Was hast du auf dem Papier gemalt?") bis hin zur Ausstellung ihrer Werke in der Kita.<br>Vergiss nicht: Das Kind kann sich auch selbst diese Wertschätzung geben. Zum Beispiel, wenn es einen hohen Turm baut und stolz auf sich ist, dass es ihn selbst gebaut hat.
      </p>
      <hr>
      <p>
        <b>Materielle Sicherheit:</b><br> Hast du das, was du brauchst? Hast du das, was dir wichtig ist? Das heisst, kannst du dir ein Smartphone kaufen, das dir gefällt oder hast du die Kleidung, die dich glücklich macht? Zudem ist die Frage, ob die Umgebung, in der du lebst sicher ist. Zum Glück ist das in der Schweiz grundsätzlich überall der Fall.<br><br>Für die Kinder in der Kita kannst du diese Säule stärken, indem du als sicherer Hafen agierst. Die Kinder spüren, dass du präsent bist und ihnen bei der Bewältigung des Alltages zur Seite stehst. Die Kinder fühlen sich bei dir geborgen und du strahlst Ruhe und Gelassenheit aus.
      </p>
      <hr>
      <p>
        <b>Gesellschaft und Soziales:</b><br> Hier geht es um deine Mitmenschen. Du kannst dich fragen: Bist du glücklich mit deinem oder deiner Partner:in? Oder bist du glücklicher Single? Generell bist du zufrieden mit deinem Beziehungsstatus? Wie sieht die Beziehung zu deiner Familie aus? Verbringst du gerne Zeit mit deinen Freunden? Arbeitest du gerne mit deinem Team zusammen?<br><br>
        Kinder müssen den Umgang und die Kommunikation mit Mitmenschen lernen. Du kannst diese Säule stärken, indem du mit dem Kind kommunizierst und es zum Beispiel nach seinem Wohlbefinden fragst. Wenn du dem Kind die Möglichkeit gibst, selbst zu bestimmen, mit wem es zusammen spielen will, förderst du es in seinen sozialen Kompetenzen.
      </p>
      <hr>
      <p>
        <b>Körper und Gesundheit:</b><br> Diese Säule wird stabil, indem wir unserer Gesundheit und unseren Körper stärken. Hast du genügen Schlaf? Ernährst du dich ausgewogen und bewegst du dich im Alltag genug? Aber auch die Frage, ob du dich in deinem Körper wohl fühlst und ihn so magst, wie er ist gehört zu dieser Säule.<br><br>
        Gib den Kindern die Möglichkeit, ihren eigenen Körper kennenzulernen. Rennen, Klettern und Bewegen sind gute Aktivitäten, bei denen das Kind lernt, seinen eigenen Körper zu spüren. Auch Berührungen und das Ertasten von verschiedenen Oberflächen helfen dem Kind dabei, seinen Körper in Relation zu seinem Umfeld zu setzen. Zum Kennenlernen des Körpers gehört auch das "Dökterle". Diese Säule förderst du zudem, indem du die physiologischen Bedürfnisse des Kindes befriedigst. (Schlaf, gesundes Essen, genügend Wasser.) 
      </p>
      <hr>
      <p>
        <b>Werte und Sinn</b><br> Hast du das, was dir persönlich wichtig ist? Teilt dein Umfeld deine Werte?<br>Kennst du deine eigenen Werte? Jeder Mensch hat Werte in sich, nur kann sie nicht jeder Mensch benennen. Mir ist zum Beispiel wichtig, dass ich den Menschen in meinem Umfeld helfen kann und sie auf ihrem Lebensweg in die Richtung begleiten kann, die sie schön finden. Lange habe ich aber nicht gewusst, dass ich diesen Wert in mir trage und konnte deshalb nicht erklären, warum mir die Arbeit in der Kita so gefällt.<br><br>
        Bei den Kindern kannst du diese Säule fördern, indem du sie nach ihren Gefühlen frägst. Dadurch lernt es, seine eigenen Gefühle zu erforschen und auszudrücken. Um seine Werte zu finden, muss man seine Gefühle verstehen. Frag die Kinder nach ihrer Meinung. So merken sie, dass ihre Sicht der Dinge akzeptiert ist und gib ihnen die Möglichkeit, "Nein" zu sagen. 
      </p>
    </div>

   </div>
  </body>

</html>