<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

<div class="introBox">
    <h1>Kontakt</h1>
    <p class="introText">Möchtest du mir etwas mitteilen? Fühle dich frei, die untenstehenden Felder auszufüllen. Vergiss nicht, deine E-Mail auf Tipp-Fehler zu überprüfen. Wenn dort etwas falsches steht, kann ich nicht auf deine Nachricht antworten.</p>
   </div>

   <div class="inputForm">
    
        <input type="text" id="" name="" class="inputField" placeholder="Dein Name"/>
        <br><br>

        <input type="text" id="" name="" class="inputField" placeholder="Dein E-Mail"/>
        <br><br>

        <textarea id="" name="" rows="8" cols="50" class="inputField" placeholder="Deine Nachricht"></textarea>
        <br><br>

        <div class="button" id="contactButton">
          <span>Absenden</span>
        </div>
      
   </div>




    </body>

</html>