<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div id="theorieDisplay">
      <h1>Gesprächsgestalltung</h1>

      <div class='introText notification navigation'>
        <h1>Inhalt</h1>
        <a href="#intro">
          Einleitung
        </a>
        <a href="#pic">
          Modell
        </a>
        <a href="#sachebene">
          Die Sachebene
        </a>
        <a href="#selbstoffenbarung">
          Die Selbstoffenbarung
        </a>
        <a href="#appell">
          der Appell
        </a>
        <a href="#beziehungsebene">
          Die Beziehungsebene
        </a>
        <a href="#beispiele">
          Beispiele
        </a>
        
      </div>
      
      

   </div>
  
  
  </body>

</html>