<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div id="theorieDisplay">
      <h1>Gesprächsgestalltung</h1>

      <div class='introText notification navigation'>
        <h1>Inhalt</h1>
        <a href="#paraNonVerbal">
          Verbal, Paraverbal und Nonverbal
        </a>
        <a href="#PersonenzentrieteGesprachsfuhrung">
          Personenzentriete Gesprächsführung
        </a>
        <a href="#fragetechniken">
          Fragetechniken
        </a>
        <a href="#selbstoffenbarung">
          Die Selbstoffenbarung
        </a>
        <a href="#appell">
          der Appell
        </a>
        <a href="#beziehungsebene">
          Die Beziehungsebene
        </a>
        <a href="#beispiele">
          Beispiele
        </a>
        
      </div>
      <hr>

      <div class="introText" id="paraNonVerbal">
        <h2>Verbale, paraverbale und Nonverbale Kommunikation</h2>
        <p>
          Das Thema verbale, paraverbale und nonverbale Kommunikation wirst du in vielen verschiedenen Fächern und Themen antreffen. Bei der Gesprächsgestalltung ist die Kommunikation einer der wichtigsten Inhaltspunkte. Wenn du sicher und klar kommunizieren kannst, kannst du in einem Gespräch deinen Standpunkt verständlich vertretten und das Gespräch sicher gestallten.<br><br>
          <b>Verbale Kommunikation</b><br>
          Die verbale Kommunikation umfasst die gesagten und geschriebenen Worte. Es ist also das, was ich sage. Die verbale Kommunikation hat im übermitteln der Botschaft das geringste Gewicht.<br><br>
          <b>Nonverbale Kommunikation</b><br>
          Die Nonverbale Kommunikation äussert sich in unserer Gestik, Mimik und unserer Körperhaltung. Wenn ein Kind vom Wochenende erzählt und dabei lacht und mit den Augen strahlt, so ist das Lachen und das Strahlen seine Nonverbale Kommunikation. Wenn das Kind gähnt oder sich die Augen reibt, so kommuniziert es auch nonverbal, dass es müde ist.<br>Der Nonverbale Teil hat im übermitteln der Botschaft das grösste Gewicht.<br><br>
          <b>Paraverbal</b><br>
          Paraverbal ist die Art, wie du etwas sagst. Es ist die Stimmlage, das Sprechtempo und die Lautstärke deiner Stimme. Wenn du ein Kind anbrüllst, so ist das Brüllen paraverbal. Oder wenn ein Kind ganz leise spricht, so kommuniziert es durch das leise Sprechen, dass es sich nicht getraut, etwas zu sagen. Der paraverbale Teil hat etwas mehr Gewicht als der verbale Teil, aber weniger als der nonverbale Teil<br><br>
          Wenn der verbale, nonverbale und paraverbale Teil einer Botschaft das gleiche aussagen, so ist die Kommunikation <b>kongruent</b>. Zum Beispiel freue ich mich, einen alten Schulkollegen zu sehen, ich lache, gehe mit offenen Armen auf ihn zu und sage dabei laut hörbar: "Schön dich wieder zu sehen!"<br>
          Der verbale Teil ("Schön dich wieder zu sehen"), der nonverbale Teil (das Lachen und die offenen Arme) und die Stimmlage (laut hörbar) sagen alle drei aus, dass ich mich wirklich freue, ihn wieder zu sehen.<br>
          Wenn die drei Teile nicht das Gleiche aussagen würden, so spricht man von einer <b>inkongruenten</b> Kommunikation. 
        </p>
      </div>



      <hr>

      <div class="introText" id="PersonenzentrieteGesprachsfuhrung">
        <h2>Personenzentriete Gesprächsführung</h2>
        <p>
          Carl Rogers schuff einen Ansatz, der für die generelle Gesprächsführung in der pädagogischen Arbeit bis heute sehr wicht ist. Die personenzentriete Gesprächsführung.<br>
          Sein Ansatz beschreibt drei Haltungen, die für eine erfolgreiche Führung des Gespräches wichtig sind:
          <ul>
            <li><b>Einfühlendes Verstehen</b></li>
            <li><b>Wertschätzung</b></li>
            <li><b>Echtheit</b></li>
          </ul>
          <b>Einfühlendes Verstehen</b><br>
          Einfühlendes Verstehen kann auch als Empathie bezeichnet werden. Es bedeutet, dass du dich in die Lage eines anderen Menschen hineinversetzen kannst. Es heisst nicht, dass du die Handlungen der anderen Person gutheisst oder dass du die gleiche Meinung vertrittst. Aber du kannst verstehen, warum die Person in eine gewissen Situation so handelt, welche Bedürfnisse sie hat und wie sie sich fühlt.<br>
          Ein Beispiel dazu ist, wenn ein Kind mit dem Zug spielt und ein zweites Kind dazu kommt und ihm den Zug aus der Hand reisst und mit dem Zug wegläuft. Ich heisse die Handlung zwar nicht gut, aber wenn ich mich in die Lage des Kindes versetze, verstehe ich, dass dem Kind langweilig war und es auch gerne mit dem Zug gespielt hätte. Durch das Verständnis kann ich nun besser ins Gespräch mit dem Kind gehen und gemeinsam eine Lösung suchen, wie alle zufrieden sein werden.<br><br>

          <b>Wertschätzung</b><br>
          Wertschätzung wird auch als Akzeptanz bezeichnet. Hier geht es darum, dass du eine andere Person so nimmst, wie sie ist. Du bewertest oder beurteilst die Person nicht. Die Handlungen im Gegenzug kannst und musst du in gewissen Situationen bewerten und beurteilen. In unserem Beispiel oben mit dem Zug: Ich bewerte und beurteile das Kind, dass den Zug gestohlen hat nicht. Ich schätze es wert nur für seine existenz. Die Handlung, dass es den Zug weggenommen hat, bewerte ich dagegen sehr wohl und sage dem Kind klar, dass ich diese Aktion nicht gut heisse.<br><br>

          <b>Echtheit</b><br>
          Echtheit kann auch mit Ehrlichkeit umschrieben werden. Es bedeutet, dass das, was ich fühle und denke mit dem übereinstimmt, was ich sage und wie ich handle. Wenn das Kind den Zug weggenommen hat, fühle ich, dass ich diese Handlung nicht gut fand. Daher sage ich dem Kind auch, dass ich es nicht ok fand, was es getan hat. Echtheit bedeutet nicht, alles zu sagen, was ich denke und fühle. Aber dass ich alles fühle und denke, was ich sage.
        </p>
      </div>

      <hr>

      <div class="introText" id="fragetechniken">
        <h2>Fragetechniken</h2>
        <p>
           In einem Gespräch die richtigen Fragen zu stellen ist essenziell wichtig für ein gutes Gespräch. Nicht umsonst gibt es den gut bekannten Spruch: "Wer fragt, der führt!" Ich sehe zum Beispiel an der Bar eine interessante Frau, die ich gerne kennen lernen möchte. Wenn ich hingehe und eine geschickte Frage stelle, öffnet sich das Gespräch und wir können gemeinsam in Kontakt tretten. Stelle ich jedoch eine unpassende Frage, so kommt die Kommunikation zum erliegen und ich werde sie wahrscheinlich nicht besser kennenlernen. Es gibt verschiedene Arten von Fragen:<br><br>
           <b>Geschlossene Frage</b><br>
           Eine gescholssene Frage kann immer mit "Ja" oder "Nein" beantwortet werden. Zum Beispiel: "Hattest du eine schöne Woche?" oder "Bist du single?"<br>
           Die geschlossene Frage engen den Gesprächspartner ein, daher sind sie für das Beispiel in der Bar nicht gut geeignet. Für Menschen, die kaum in der Lage sind, sich zu äussern eignen sie sich jedoch ganz gut.<br><br>
           <b>Offene Frage</b><br>
           Offene Fragen sind das Gegenteil von geschlossenen Fragen. Sie können nicht mit "Ja" oder "Nein" beantwortet werden. Beispiele dafür sind: "Was hast du diese Woche gemacht?" oder "Wie war dein Tag?"<br><br>
           <b>Alternativfragen</b><br>
           Alternativfragen geben dem Gegenüber die Möglichkeit, sich zwischen vorgegebenen Möglichkeiten zu entscheiden. Zum Beispiel: "Magst du lieber Wein oder Bier?" oder "Würdest du bei einem Date lieber ins Kino, an den See oder zum Bungee-Jumping gehen?"<br><br>
           <b>Rangierfragen</b><br>
           Ragierfragen helfen dabei, das Gespräch in eine bestimmte Richtung zu lenken. Wenn das Gespräch den roten Faden verliert kannst du damit zum Thema zurückkommen. Beispiele dafür sind: "Sehr spannend, was du gemacht hast. Darf ich nochmals darauf zurückkommen, was du nächste Woche vor hast?" oder "Das ist sehr interessant. Wo waren wir stehen geblieben?"<br><br>
           <b>Spiegelungsfragen</b><br><br>
           Spiegelungsfragen benutzt du dann, wenn du dich vergewissern willst, dass du das Gesagte richtig verstanden hast. Du spiegelst den Inhalt quasi wieder. Beispiele dazu: "Habe ich richtig verstanden, dass du nächstes Wochenende noch nichts vor hast und gerne mit mir zum Bungee-Jumping gehen möchtest?" oder "Du bist also der Meinung, dass wir heute lieber mit den Kindern im Haus bleiben, da es draussen zu stark regnet?"<br><br>
           <b>Türöffner</b><br><br>
           Türöffner sind Fragen, die dabei helfen, ein Gespräch in Gang zu setzen. Sie helfen vor allem dann, wenn eine Person nicht weiss, wie sie ein Gespräch beginnen soll. Zum Beispiel: "Möchtest du über gestern reden?" oder "Kan ich dir weiterhelfen?"

        </p>
      </div>

      <hr>



      
      

   </div>
  
  
  </body>

</html>