<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
        
    </div>



   <div class="introBox">
    <h1>Impressum</h1>
    <p class="introText">Die Webseite "fabe-k.ch" wird von Privatpersonen betrieben. Die Inhalte dieser Webseite stützen sich auf der Erfahrung und der Ausbildung der Privatpersonen.</p>
    <p>
      <b>Adresse:</b>
    </p>
      <p>
        Adrian Joost
      </p>
      
      <p>
        Hohrüti 19a
      </p>
      <p>
        9042 Speicher
      </p>
      <p>
      <b>Kontakt:</b>
    </p>
      <p>
        My Email
      </p>

      <p class="introText">Bei allfälligen Fragen oden Anliegen, melden sie sich  unter dieser E-Mail. Da ich diese Seite jedoch neben der Arbeit und der Ausbildung in der Freizeit betreibe, kann die Bearbeitung der Nachrichten einige Tage dauern!</p>
    
   </div>
    </body>

</html>