<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class="container">
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

   <div class="introBox">
    <h1>Wilkommen</h1>
    <p class="introText">Herzlich Wilkommen auf www.fabe-k.ch :) Auf dieser Webseite habe ich alle Themen, die wir im Laufe unserer Ausbildung als Fachmann/Fachfrau Betreuung Kinder kennengelernt haben, zusammengefasst. Ich bemühe mich darum, die Theorien kurz und verständlich zu erklären.</p>

    <p class="introText notification">
      Hast du einen Fehler entdeckt oder bist bei einer Erklärung nicht unserer Meinung? Unter dem Raster <a href="/contact">Kontakt</a> kannst du uns schreiben. Wir freuen uns auf Feedback, denn auch wir machen nicht alles Perfekt.
    </p>


   </div>

    <div class="introBox aboutMeBox">

      <img class='indexImg' src='/static/pictures/adi.jpg' alt='Hier soll ein Bild von Adi sein'>
      
      <div class="aboutMeText">
        <h2>Über mich</h2>
        <p class="introText">Ich bin Adi. Im Jahr 2017 habe ich im Rahmen des Zivildienstes begonnen, in einer Kita zu arbeiten. Die Arbeit mit den Kindern hat mir so gut gefallen, dass ich mich entschied, anstelle eines Informatikstudiums die verkürzte Ausbildung als Fabe Kind anzutreten.<br> Diesen Frühling habe ich auf Instagram gesehen, dass einige Schüler:innen ihre Zusammenfassungen verkaufen. Teilweise für viel Geld, wie ich finde. Ich verstehe zwar, dass die Schüler:innen so etwas Geld dazuverdienen möchten, jedoch finde ich, dass sie dabei die Angst ausnutzen, die einige vor den Abschlussprüfungen haben. Zudem musste man im vorraus zahlen, ohne zu wissen, was man dafür wirklich bekommt. Ich habe mich daher dazu entschieden, diese Webseite ins Leben zu rufen. Hier sind alle Beiträge kostenlos zur Verfügung gestellt. Damit musst du nicht mehr für viel Geld handgeschriebene Notizen kaufen. :)</p>
      </div>

    </div>
   
    </body>

</html>