<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <meta name=“description“ content=”auf www.fabe-k.ch findes du Zusammenfassungen und Modelle für die LAP der Lehre Fachfrau/Fachmann Betreuung Fachrichtung Kinder. Die Seite ist von Lernenden für Lernende gemacht und 100% kostenlos“>
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/index.js"></script>
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

   <div class="introBox">
    <h1>Wilkommen auf fabe-k.ch</h1>
    <p class="introText">Herzlich Wilkommen auf www.fabe-k.ch :) Auf dieser Webseite sind alle Zusammenfassungen und Modelle für die LAP der Lehre Fachfrau/Fachmann Betreuung Fachrichtung Kinder kostenlos verfügbar. Auch für Lernende der anderen Fachrichtungen finden sich hier wertvolle Informationen und Theorien.</p>

    <p class="introText notification">
      Hast du einen Fehler entdeckt oder bist bei einer Erklärung nicht meiner Meinung? Unter dem Raster <a href="/contact">Kontakt</a> kannst du mir schreiben. Ich freue mich auf Feedback, positiv sowie kritisch, denn es hilft mir, die Webseite so weiterzuentwickeln, dass alle den grösst möglichen Nutzen daraus ziehen können.
    </p>


   </div>

    <div class="introBox aboutMeBox">

      <img class='indexImg' src='/static/pictures/adi.jpg' alt='Hier soll ein Bild von Adi sein'>
      
      <div class="aboutMeText">
        <h2>Über mich</h2>
        <p class="introText">Ich bin Adi. Im Jahr 2017 habe ich im Rahmen des Zivildienstes begonnen, in einer Kita zu arbeiten. Die Arbeit mit den Kindern hat mir so gut gefallen, dass ich mich entschied, anstelle eines Informatikstudiums die verkürzte Ausbildung als Fabe Kind anzutreten.<br> Diesen Frühling habe ich auf Instagram gesehen, dass einige Schüler:innen ihre Zusammenfassungen verkaufen. Teilweise für viel Geld, wie ich finde. Ich verstehe zwar, dass die Schüler:innen so etwas Geld dazuverdienen möchten, jedoch finde ich, dass sie dabei die Angst ausnutzen, die einige vor den Abschlussprüfungen haben. Zudem musste man im vorraus zahlen, ohne zu wissen, was man dafür wirklich bekommt. Ich habe mich daher dazu entschieden, diese Webseite ins Leben zu rufen. Hier sind alle Beiträge kostenlos zur Verfügung gestellt. Damit musst du nicht mehr für viel Geld handgeschriebene Notizen kaufen. :)</p>
      </div>

    </div>
   
    </body>

</html>