<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class="container">
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

   <div class="introBox">
    <h1>Wilkommen</h1>
    <p class="introText">Herzlich Wilkommen auf www.fabe-k.ch :) Diese Website wurde von Lernenden entwickelt und dient als praktisches Nachschlagewerk für die verschiedenen Modelle und Theorien, die wir im Laufe unserer Ausbildung kennengelernt haben. Zudem sind die einzelnen Leistungsziele der Lehre hier aufgeführt und kurz beschrieben. Die Website ist in der Aufbauphase, daher sind noch nicht alle Themen verfügbar.</p>

    <p class="introText notification">
      Hast du einen Fehler entdeckt oder bist bei einer Erklärung nicht unserer Meinung? Unter dem Raster <a href="/contact">Kontakt</a> kannst du uns schreiben. Wir freuen uns auf Feedback, denn auch wir machen nicht alles Perfekt.
    </p>
   </div>
    </body>

</html>