<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div id="theorieDisplay">
    <h1>Das Johari-Fenster</h1>
    <h2>Nach Joseph Luft und Harry Ingham</h2>
    
    <p class="introText">
      Das Johari-Fenster ist ein Modell, dass die bewussten und unbewussten Perönlichkeits- und Verhaltensmerkmale zwischen einem Selbst und anderen beschreibt. Es beinhaltet die <b>öffentliche Person</b>, also das, was ich über mich selbst weiss und andere gleich wahrnehmen, <b>mein Geheimnis</b>, was ich über mich weiss und andere nicht wissen, <b>das Unbekannte</b>, was weder ich weiss, noch andere über mich wissen und <b>der Blinde Fleck</b>. Der blinde Fleck ist, was ich nicht über mich weiss, andere jedoch über mich wissen. Die Idee von Joseph Luft und Harry Ingham ist, dass wir durch das vergrössern unserer öffentlichen Person die Kommunikation und unser Wohlbefinden in der Gruppe verbessern können. Schauen wir uns das genauer an.
    </p>
    <div class='introText notification navigation'>
      <h1>Inhalt</h1>
      <a href="#fenster">
        Das Fenster
      </a>
      <a href="#kommunikation">
        Kommunikation verbessern mit dem Johari-Fenster
      </a>
      
    </div>
    <hr>

    <div class="introText" id="fenster">
      <h2>Das Fenster</h2>
    </div>

    <img class='modelImg' src='/static/pictures/johari_fenster.jpg' alt='Das Johari-Fenster'>
    <div class="introText">
      <p>
        <b>Öffentliche Person:</b><br>
        Die öffentliche Person umfasst alles, was ich über mich selbst weiss und andere auch bekannt ist. Ich nehme mich selbst zum Beispiel als hilfsbereiten und motivierten Mitarbeiter wahr und meine Mitarbeiter:innen haben durch Feedback diese Selbstwahrnehmung bestätigt. Da es öffentlich Bekannt ist, wie ich arbeite, kann ich meine Arbeitsrolle frei und unbeeinträchtigt von Ängsten ausüben. 
        <hr class="thin">
        <b>Mein Geheimnis:</b><br>
        Mein Geheimnis ist alles, wass ich über mich weiss, anderen aber nicht preisgeben möchte. Ein Beispiel dazu ist, wenn sich eine Führungskraft in einem Teilgebiet für nicht kompetent genug hält und diese Unsicherheit vor den anderen Mitarbeiter:innen geheim halten möchte. 
        <hr class="thin">
        <b>Unbekanntes:</b><br>
        Das Unbekannte ist alles, was weder mir selbst, noch anderen bekannt ist. Vielleicht bin ich ein begnadeter Ballett-Tänzer. Da ich aber nie Ballett ausprobiert habe, weiss ich nicht, ob ich Talent darin habe und ebenso können meine Mitmenschen nicht wisse, wie gut ich Ballett tanzen kann.
        <hr class="thin"> 
        <b>Blinder Fleck:</b><br>
        Der blinde Fleck ist wohl der interessanteste Bereich des Johari-Fenster. Denn er umfasst alles, was andere über mich wissen, mir selbst aber im verborgenen bleiben. Vielleicht behandle ich andere Mitarbeiter:innen unfair oder schätze sie unbewusst nicht wert, da ich ein Vorurteil habe, das ich nicht als solches erkenne. Oder jemand fühlt sich durch meine Art belästigt, ohne dass ich die Absicht dazu hatte. 
      </p>
      <hr>
      
    </div>

    <div class="introText" id="kommunikation">
      <h2>Kommunikation verbessern mit dem Johari-Fenster</h2>
      <p>
        Wie bereits erwähnt, kann man das Johari-Fenster benutzen, um die Kommunikation mit den Mitmenschen zu verbessern. Wir können das erreichen, indem wir die öffentliche Person, also den Bereich, den wir über uns kennen und andere ebenfalls von uns wissen vergrössern. Dafür haben wir zwei Möglichkeiten:
        <br><br>
        <b>Preis geben:</b><br>
        Wenn wir etwas, dass wir versuchen zu verheimlichen preisgeben, wird der Bereich "Mein Geheimnis" kleiner und die öffentliche Person vergrössert sich. Meine Mitmenschen können meine Handlungen und mein Verhalten nun besser nachvollziehen, da sie sich nun in meine Lage hineinversetzen können. Zudem kann ich mich nun offen und ehrlich mitteilen. Unangenehme Dinge über sich peis zu geben erfordert Mut und Selbstvertrauen.
        <br><br>
        <b>Feedback erfragen:</b><br>
        Frage nach Feedback. Durch konstruktives Feedback kannst du deine Selbstwahrnehmung mit der Fremdwahrnehmung abgleichen. Das Feedback verringert den blinden Fleck, da deine Mitmenschen dir zeigen können, wie du auf sie wirkst. Akzeptiere das Feedback und suche keine Entschuldigungen oder Ausreden für kritische Rückmeldungen. Wir sind alle nicht perfekt und den blinden Fleck kannst du nur verringern, indem du deine Unwissenheit akzeptierst.
      </p>
    </div>


   </div>
  
  
  </body>

</html>