<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

    <div id='theorieDisplay'>
    <h1>Lerntheorien</h1>
    <h2>von verschiedenen Theorien</h2>
    <div class='introText'>
      <p>
        Ein grosses Thema in Mensch und Entwicklung ist die Sozialisation. <br><br><i>Sozialisation ist der Prozess der Einordnung des heranwachsenden Individuums in die Gesellschaft und die damit verbundene Übernahme gesellschaftlich bedingter Verhaltensweisen durch das Individuum.</i><br><br> Es bedeuten vereinfacht gesagt, dass der Mensch lernt, wie er oder sie sich in unserer Gesellschaft zu verhalten hat.
        Doch wie lernt der Mensch diese Verhaltensweise überhaupt? Hier sind fünf Theorien aufgelistet, die wir in der Ausbildung kennengelrnt haben. Sie beschreiben unterschiedliche Arten, wie wir lernen.
      </p>

      
    </div>
    <div class='introText notification navigation'>
      <a href="#Konditionieren">
        Klassisches Konditionieren
      </a>
      <a href="#verstarkung">
        Lernen durch Verstärkung (operantes Konditionieren)
      </a>
      <a href="#nachahmung">
        Lernen durch Nachahmung
      </a>
      <a href="#tryAndError">
        Lernen durch Versuch und Irrtum
      </a>
      <a href="#einsicht">
        Lernen durch Einsicht
      </a>

      
    </div>

    <p>
      <b id="Konditionieren"> Klassisches Konditionieren</b><br>Wird noch hinzugefügt. 
    </p>

    <p>
        <b id="verstarkung">Lernen durch Verstärkung</b><br> Lernen durch Verstärkung oder auch operantes Konditionieren, beschreibt, dass das Kind durch das Erhalten einer angenehme Konsequenz oder das Vermeiden einer unangehnemen Konsequenz ein Verhalten öfters zeigt.<br>
        Einfach gesagt, wenn du ein Kind dafür lobst, dass es im Singkreis ruhig sitz und mitmacht. Es erfährt eine angenehme Konsequenz, da es sich wertgeschätzt fühlt. Da es diese Wertschätzung wieder erfahren möchte, wird es das nächste Mal wieder ruhig im Kreis sitzen und mitmachen.<br>
        Ein anderes Beispiel ist, wenn du ein Kind aus dem Freispiel nimmst und auf eine Pausen-Bank setzt, wenn es ein anderes Kind geschlagen oder gebissen hat. Hier erfährt das Kind eine unangehneme Konsequenz, da es nicht mehr weiterspielen darf und von der Gruppe ausgeschlossen wird. Das nächste Mal wird es das andere Kind nicht mehr schlagen, da es nicht auf die Pausen-Bank sitzen möchte.<br><br>

      </p>

      <p>
        <b id="nachahmung">Lernen durch Nachahmung</b><br>Wird noch hinzugefügt.
      </p>

      <p>
        <b id="tryAndError">Lernen durch Versuch und Irrtum</b><br>Wird noch hinzugefügt.
      </p>

      <p>
        <b id="einsicht">Lernen durch Einsicht</b><br>Wird noch hinzugefügt.
      </p>
  
  
  </body>

</html>