<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

    <div id='theorieDisplay'>
    <h1>Lerntheorien</h1>
    <h2>von verschiedenen Theorien</h2>
    <div class='introText'>
      <p>
        Ein grosses Thema in Mensch und Entwicklung ist die Sozialisation. <br><br><i>Sozialisation ist der Prozess der Einordnung des heranwachsenden Individuums in die Gesellschaft und die damit verbundene Übernahme gesellschaftlich bedingter Verhaltensweisen durch das Individuum.</i><br><br> Es bedeuten vereinfacht gesagt, dass der Mensch lernt, wie er oder sie sich in unserer Gesellschaft zu verhalten hat.
        Doch wie lernt der Mensch diese Verhaltensweise überhaupt? Hier sind fünf Theorien aufgelistet, die wir in der Ausbildung kennengelrnt haben. Sie beschreiben unterschiedliche Arten, wie wir lernen. Bei diesen Theorien geht es um das erlernen von Verhalten(soziales Lernen), nicht um das erlernen von Fachwissen(Sachlernen)
      </p>

      
    </div>
    <div class='introText notification navigation'>
      <a href="#Konditionieren">
        Klassisches Konditionieren
      </a>
      <a href="#verstarkung">
        Lernen durch Verstärkung (operantes Konditionieren)
      </a>
      <a href="#nachahmung">
        Lernen durch Nachahmung
      </a>
      <a href="#tryAndError">
        Lernen durch Versuch und Irrtum
      </a>
      <a href="#einsicht">
        Lernen durch Einsicht
      </a>

      
    </div>

    <hr id="Konditionieren">

    <p>
      <b> Klassisches Konditionieren</b><br>Beim klassinschen Konditionieren wird ein neutraler Reiz mit einem unbedingten Reiz gekoppelt, so dass der neutrale Reiz durch Wiederholung zu einem bedingten Reiz wird<br>
      Ein neutraler Reiz bedeutet, dass du etwas wahrnimmst, jedoch keine Reaktion darauf zeigst. Zum Beispiel riechst du das Benzin eines vorbeifahrenden Autos. Du nimmst es zwar wahr, aber du reagierst nicht.<br>
      Ein unbedingter Reiz bedeutet, dass auf den Reiz eine Reaktion folgt. Wenn du zum Beispiel frisch gekochtes Essen riechst, läuft dir das Wasser im Mund zusammen und du bekommst Hunger.<br>
      Koppelst du nun einen neutralen Reiz mit einem unbedingten Reiz, so verwandelt sich der neutrale Reiz langsam zu einem bedingten Reiz. Wenn deine Mutter früher immer mit einer Glock geläutet hat, um zum Essen zu rufen, verbindet sie den neutralen Reiz(Das Höhren der Glocke) mit einem unbedingten Reiz (Der Duft des Essen). Hörst du nun die Glocke irgendwo anders, bekommst du trotzdem Hunger, auch wenn der Duft des Essens nicht in der Luft liegt. Du wurdest darauf konditioniert, dass es beim Ertönen der Glocke essen gibt. 
    </p>

    <hr id="verstarkung">

    <p>
        <b>Lernen durch Verstärkung</b><br>Lernen durch Verstärkung oder auch operantes Konditionieren, beschreibt, dass das Kind durch das Erhalten einer angenehme Konsequenz oder das Vermeiden einer unangehnemen Konsequenz ein Verhalten öfters zeigt.<br><br>
        Ein Beispiel ist, wenn du ein Kind dafür lobst, dass es im Singkreis ruhig sitz und mitmacht. Es erfährt eine angenehme Konsequenz, da es sich wertgeschätzt fühlt. Da es diese Wertschätzung wieder erfahren möchte, wird es das nächste Mal wieder ruhig im Kreis sitzen und mitmachen.<br><br>
        Ein anderes Beispiel ist, wenn du ein Kind aus dem Freispiel nimmst und auf eine Pausen-Bank setzt, wenn es ein anderes Kind geschlagen oder gebissen hat. Hier erfährt das Kind eine unangehneme Konsequenz, da es nicht mehr weiterspielen darf und von der Gruppe ausgeschlossen wird. Das nächste Mal wird es das andere Kind nicht mehr schlagen, da es nicht auf die Pausen-Bank sitzen möchte.<br><br><br>

      </p>

      <hr id="nachahmung">

      <p>
        <b>Lernen durch Nachahmung</b><br>Lernen durch Nachahmung oder auch Lernen am Modell oder Imitationslernen bedeutet, dass ein Mensch eine Verhaltensweise lernt, indem er sie bei einem anderen Menschen beobachtet hat und dann nachmacht.<br>In der Kita wird diese Form des Lernens häufig benutzt. Zum Beispiel machst du als Erzieher:in vor, wie man Messer und Gabel am Tisch verwendet. Die Kinder beobachten dich dabei und versuchen, ihre Messer und Gabel auch so zu verwenden. Das Lernen erfolgt in drei Schritten:<br><br>
        <ol>
          <li>Vorbild(Modell) zeigt Verhaltensweise</li>
          <li>Kind(Nachahmende:r) beobachtet das Verhalten</li>
          <li>Kind versucht, das Beobachtete nachzuahmen</li>
        </ol>
        Das Vorbild wird auch als das Modell bezeichnet. Hier ist es eine reale Person. Aber auch Comic-Figuren oder Personen aus Filmen können als Modell agieren. Werschätzung und eine gute Beziehung zwischen dir und dem Kind erhöhen die Wahrscheinlichkeit, dass das Kind dein Verhalten kopieren möchte. Damit das Lernen am Modell funktioniert müssen einige Bedingungen erfüllt sein:
        <ul>
          <li>Das Modell muss in seinem Verhalten erfolgreich sein. Wenn es dir nicht gelingen würde, dein Essen in mundgrosse Stücke zu zerkleinern und zu essen, würden es dir die Kinder wahrscheinlich nicht nachmachen.</li>
          <li>Der oder die Nachahmende:r muss sich für das Verhalten des Modells interessieren. Hat das Kind keinen Bezug zu dir, wird es dich wahrscheinlich nicht imitieren wollen.</li>
          <li>Das Kind muss sich selbst für fähig halten, dein Verhalten zu kopieren. Ansonsten bleibt das Kind bei der Beobachtung und probiert es nicht selbst aus.</li>
        </ul>


      </p>

      <hr id="tryAndError">

      <p>
        <b>Lernen durch Versuch und Irrtum</b><br>Beim Lernen durch Versuch und Irrtum steht der Mensch vor einem Problem, dass er Lösen möchte. Dabei versucht er verschiedene Lösungsvorschläge und behält diese, die zum erfolgreichen Lösen des Problemes führten. Lösungsvorschläge, die nicht funktionierten verwirft der Mensch wieder. Auch bei dieser Lernmethode gibt es einige Voraussetzungen, die erfüllt sein müssen:<br>
        <ul>
          <li>Das Kind muss vor einem Problem stehen und gleichzeitig das Bedürfnis haben, dieses zu Lösen, indem es aktiv etwas ausprobiert.</li>
          <li>Der Lerneffekt tritt nur ein, wenn eine erfolgreiche Lösung für das Problem gefunden wird.</li>
          <li>Das Kind braucht genügend Durchhaltevermögen(Resilienz), verschiedene Ideen umzusetzen und nicht aufzugeben, wenn der erste Versuch nicht klappt.</li>
        </ul>
      </p>

      <hr id="einsicht">

      <p>
        <b>Lernen durch Einsicht</b><br>Lernen durch Einsicht bedeutet, dass sich der Mensch mit einem Problem ausseinandersetzt und die Zusammenhänge zwischen den einzelnen Elementen erkennt, um so zu einer Lösung zu kommen. Vereinfacht gesagt, denkt der Mensch über das Problem nach und findet in seinem Kopf die Lösung.<br>
        Ein kleines Beispiel dazu: Stell dir vor, du möchtest den Pin-Code einer Kollegin herausfinden, um Zugriff auf ihr Smartphone zu bekommen. (Für welchen Grund auch immer :). Nehmen wir an, dass du unendlich viele Versuche hast, denn Pin einzugeben. Du kannst nun hingehen und mit 1111 beginnen, dann 1112, 1113 undsoweiter ausprobieren, bis du per Zufall den richtigen Pin gefunden hast. Würdest du das machen, dann würdes du Lernen durch Versuch und Irrtum anwenden.<br>
        Beim Lernen durch Einsicht würdest du zuerst überlegen, welchen Pin deine Freundin am ehesten benutzen würde. Vielleicht ihr Geburtsdatum oder es kommt ihre Lieblingszahl darin vor. Zudem siehst du auf ihrem Handy Fingerabrücke, die zeigen, welche Ziffern oft gedrückt wurden. Verbindest du nun alle Informationen, hast du gute Chancen, den richtigen Pin zu finden. Du hast nicht einfach alle Möglichkeiten ausprobiert sondern die verschiedenen Elemente analysiert und daher bewusst Zahlen genommen, die du für sinnvoll haltest. So hast du mit Lernen durch Einsicht gelernt.<br><br>
        Auch hier gibt es einige Vorraussetzungen, die erfüllt sein müssen, damit der Mensch mit Lernen durch Einsicht lernen kann:
        <ul>
          <li>Der Mensch muss die Informationen in Bezug auf das Problem kennen. (Du musst die Lieblingszahl deiner Freundin kennen)</li>
          <li>Der Mensch muss die Fähigkeit haben, die verschiedenen Element und Informationen miteinander zu verknüpfen und daraus Schlüsse zu ziehen. (z.B. Meine Freundin hat am 25.03 Geburtstag. Vielleicht ist ihr Pin 2503.)</li>
          <li>Je besser der Mensch Dinge aus verschiedenen Sichtweisen betrachten kann, desto leichter fällt es ihm, Elemente zu verknüpfen und Lösungen zu finden.</li>
          <li>Je besser der Mensch sein Wissen benutzen kann, um daraus Schlüsse zu ziehen, desto einfacher fällt ihm das Lernen durch Einsicht.</li>
        </ul>
      </p>
  
  </div>
  </body>

</html>