<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

    <div id='theorieDisplay'>
    <h1>Lerntheorien</h1>
    <h2>von verschiedenen Theorien</h2>
    <div class='introText'>
      <p>
        Menschen lernen mit verschiedenen Methoden. Hier sind fünf verschiedene Lerntheorien, die wir im Laufe unserer Ausbildung kennengelernt haben.
      </p>

      
    </div>
    <div class='introText notification'>
      <p>
        Klassisches Konditionieren
      </p>
      <p>
        Lernen durch Verstärkung (operantes Konditionieren)
      </p>
      <p>
        Lernen durch Nachahmung
      </p>
      <p>
        Lernen durch Versuch und Irrtum
      </p>
      <p>
        Lernen durch Einsicht
      </p>

      
    </div>
  
  
  </body>

</html>