<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

  
  <div id='theorieDisplay'>
    <h1>Die Bedürfnis-Pyramide</h1>
    <h2>nach Maslow</h2>
    <div class='introText'>
      <p>
        
      </p>

      
    </div>

    

    <div class='introText'>
      <p>Die Bedürfnispyramide ist in fünf Stufen aufgebaut. Dabei sind unsere wichtigsten Bedürfnise in der untersten Stufe. Nach Maslow können wir die Bedürfnisse einer Stufe erst dann befriedigen, wenn die Bedürfnisse der tieferen Stufen abgedeckt sind. Es kann sein, dass du mit deinen Koleg:innen etwas unternehmen möchtest, aber gerade Hunger hast. Dann ist es nach Maslow besser, zuerst deinen Hunger zu stillen und erst dann zu deinen Kolleg:innen zu stossen. Denn hungrig würdest du die Zeit mit ihnen nicht geniessen können. (Natürlich wäre es eine tolle Idee, mit deinen Kolleg:innen etwas zusammen zu essen, so kommst du beiden Bedürfnissen nach. Ich hoffe, du hast das Beispiel dennoch verstanden. :)
      </p>
    </div>

      <img class='modellPicture' src='/static/pictures/pyramide_maslow.png' alt='Fünf säulen nach Petzold'>
      <div class='introText'>
      <p>
        <b>Physilogische Bedürfnisse:</b><br> Das sind Bedürfnisse, die wir zum direkten Überleben brauchen. Also Essen, Trinken, Schlaf und Sex
      </p>
      <p>
        <b>Sicherheitsbedürfnisse</b><br> Bei den Sicherheitsbedürfnissen geht es darum, dass wir nicht in Angst leben müssen, etwas zu verlieren. Wir wollen ein Dach über dem Kopf, dass uns vor Witterungen schützt, ein gesichertes Einkommen, damit wir Essen kaufen können. Wir wollen wissen, dass die Feuerwehr uns rettet, wenn unser Haus brennt etc. Gerade für kleinere Kinder ist es wichtig, eine Bezugsperson zu haben, denn die Bezugsperson gibt dem Kind Essen, Trinken und beschützt es vor Gefahren. Hat es keine Bezugsperson, ist diese Stufe nicht erfüllt.
      </p>
      <p>
        <b>Soziale Bedürfnisse</b><br> Menschen sind soziale Wesen, die miteinander kommunizieren wollen. In den sozialen Bedürfnissen geht es um die Verbundenheit und den Austausch mit anderen Menschen, die Zugehörigkeit zu einer Gruppe. Deine Familie, dein:e Partner:in und dein:e Kolleg:innen befriedigen dabei dein soziales Bedürfnis. Aber auch der Austausch mit fremden oder die Gespräche in der Arbeitspause erfüllen die Bedürfnisse dieser Stufe. Für die Kinder in der Kita wird dieses Bedürfnis vor allem durch die anderen Kinder und die Betreungspersonen erfüllt
      </p>
      <p>
        <b>Individualbedürfnisse</b><br> Hier geht es darum, dass du als Individum Vertrauen, Wertschätzung und Freiheit erhalst. Ein "Das hast du gut gemacht." erfreut jeden. Wenn dein:e Chef:in das zu dir sagt, wird deine 4. Stufe erfüllt. Du fühlst dich stark, nützlich und bestätigt
      </p>
      <p>
        <b>Selbstverwirklichung</b><br> Hier geht es darum, dass du dich so entfalten kannst, wie es dir gefällt. Bist du auf dieser Stufe angekommen, möchtest du deine Talente, dein Potenzial und deine Kreativität entfalten. Die Art, wie du Lebst soll eine Reflexion deiner tiefen Überzeugung sein. Zum Beispiel esse ich kein Fleisch, da ich keinem Tier das Leben nehmen will. Wäre ich nicht auf der 5. Stufe, würde ich das Bedürfnis, Vegetarier zu sein nicht entwickelt haben.
      </p>


    </div>

   </div>
  </body>

</html>