<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <script type="text/javascript">let data = {{data|tojson}};</script>
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/model.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

  
  <div id="theorieDisplay">
   </div>
  </body>

</html>