<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/targets">Leistungsziele</a></li>
        <li><a href="/models">Modele</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <li><a href="/impressum">Impressum</a></li>
        
      </ul>
    </div>

   <h1>Wilkommen auf der Website. Hier könnt ihr Zusammenfassungen der FaBe-Lehre anschauen.</h1>
    </body>

</html>