<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <script type="text/javascript" src="/static/js/theorie.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

   <div class="introBox">
    <h1>Modelle</h1>
    <p class="introText">Hier ist eine Auflistung von verschiedenen Modellen, die vor allem für die mündlichen Prüfungen wertvoll sind. Hast du ein Modell verstanden, kannst du die Theorie erfolgreich aufsagen. Vergiss nicht, die Modelle mit praktischen Beispielen zu verknüpfen. Wenn dir das gelingt, wirst du eine gute Note schreiben :)</p>
  </div>

  <div id="modellBody">
   </div>
  </body>

</html>