<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

  
  <div id='theorieDisplay'>
    <h1>Professionelle Beziehungen</h1>
    <h2>in der Kita</h2>
    <div class='introText'>
      <p>
        
      </p>

      
    </div>

    

    <div class='introText notification'>
      <p>
        Hier ist eine kurze Zusammenfassung zum Thema professionelle Beziehung im Kitaalltag.
      </p>
      <a href="#def_professionl">Definition Professionalität</a>
      <a href="#beziehung">Definition Beziehung / Merkmale einer Beziehung</a>
      <a href="#berufskodex">Berufskodex</a>

    </div>

    <div class="introText" id="def_professionl">
      <p class="definition">Als <b>Professionalität</b> wird die von Angehörigen eines Berufsstandes erwartete Fertigkeit, Kompetenz oder Verhaltensnorm bezeichnet<br>
        <a href="http://www.onpulson.de/lexikon/3917/professionalitaet" target="_blank" class="quelle"><i>http://www.onpulson.de/lexikon/3917/professionalitaet</i></a></p>
        <br>
        
      
    </div>

    <div class="introText">
      <p>Professionalität bedeutet also, wenn du dich als Fabe so verhälst, wie die Gesellschaft es von dir erwartet und die entsprechenden Fähigkeiten hast, die eine Fabe haben soll. Erfüllst du die Erwartungen eines Kunden(Mutter/Vater des Kindes), so nimmt sie dich als professionell wahr.</p>
    </div>
    <br><br><br>

    <div class="introText" id="beziehung">
      <p class="definition">Eine <b>Beziehung</b> ist allgemein der Bezug in einem Bezugssystem.<br>
        Eine <b> soziale Beziehung</b> ist ein Bezug unter Menschen, wobei ihr Denken, Handeln und Fühlen aufeinander bezogen ist.
        <a href="" target="_blank" class="quelle"><i>vgl. Kaufmann, 1999, S.33</i></a></p>
    </div>
    <br>
    <p>
      Eine Beziehung ist also nur, dass zwei Dinge miteinander verbunden sind. So geht auch dein Handy mit einem Wifi-Router eine Beziehung ein. Ist es eine Beziehung zwischen Menschen (oder auch Tieren), dann ist es eine soziale Beziehung.<br>
      Eine soziale Bezieung hat einige Merkmale.
    </p>

    <div class="introText" id="berufskodex">
      <h2>Der Berufskodex der sozialen Arbeit</h2>
      <p>Der schweizerische Berufsverband Soziale Arbeit hat einen Berufskodex veröffentlicht, an den sich alle in der sozialen Arbeit tätigen Menschen halten sollen.</p>
    </div>

   </div>
  </body>

</html>