<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

    
    

    <div id='theorieDisplay'>
    <h1>Sozialisation</h1>

    <div class='introText'>
      <p>
        Bei diesem Thema handelt es sich nicht um ein Model, sondern um einen Überbegriff, den wir im Fach Mensch und Umwelt hatten. Ich habe die wichtigsten Punkte und Erklärungen im Zusammenhang mit der Sozialisation hier erläutert.
      </p>

      
    </div>
    <div class='introText notification navigation'>
      <a href="#definition">
        Definitionen und Begriffserklärungen
      </a>
      <a href="#phasen">
        Phasen der Sozialisation
      </a>
      <a href="#nachahmung">
        Lernen durch Nachahmung
      </a>
      <a href="#tryAndError">
        Lernen durch Versuch und Irrtum
      </a>
      <a href="#einsicht">
        Lernen durch Einsicht
      </a>

      
    </div>
    <h2>Definitionen</h2>
    <h3>Sozialisation</h3>
    <div class="introText" id="definition">
      
      <p class="definition"><b>Sozialisation</b> ist der Prozess der Eingliederung bzw. Anpassung des heranwachsenden Menschen in die ihn umgebende Gesellschaft und Kultur<br>
        <a href="https://wirtschaftslexikon.gabler.de/definition/sozialisation-43285" target="_blank" class="quelle"><i>https://wirtschaftslexikon.gabler.de/definition/sozialisation-43285</i></a></p>
        <br>
    </div>
    <div class='introText'>
      <p>
        Sozialisation bedeutet also, dass wir durch unsere Umwelt lernen, wie wir uns in der Gesellschaft zu verhalten haben. Dabei erwerben wir Werte, Normen, Verhaltensmuster und Einstellungen, die es uns ermöglichen, mit unseren Mitmenschen zusammenzuleben. Da sich unsere Umwelt stetig verändert, fordert es, dass wir uns ihr Anpassen. Somit ist die Sozialisation ein lebenslanger Prozess. Bei einem Kind ist der Einfluss der Sozialisation jedoch um einiges grösser, als bei einer älteren Person. 
      </p>
    </div>
      <br>
      <h3>Erziehung</h3>
      <div class="introText">
        
      <p class="definition"><b>Erziehung</b> ist das beabsichtigte und zielgerichtete Einwirken des Erziehenden auf den zu Erziehenden, um das Verhalten und/oder Erleben des zu Erziehenden zu stärken oder zu ändern.<br>
        <a class="quelle"><i>MUE_SK_Sozialisation_2021_BAB, S.5</i></a></p>
        <br>
    </div>
    <div class='introText'>
      <p>
        Wie wird ein Kind sozialisiert? Mitunter der grösste Einfluss hat die Erziehung darauf. Und Erziehung bedeutet nichts anderes, als das der Erzieher das Kind so beeinflusst, dass es die Werte, Normen und Verhaltensweisen des Erziehers übernimmt. 
      </p>
    </div>

    <h2 id="phasen">Phasen der Sozialisation</h2>

      




  </div>
  
  
  </body>

</html>