<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

    
    

    <div id='theorieDisplay'>
    <h1>Sozialisation</h1>

    <div class='introText'>
      <p>
        Bei diesem Thema handelt es sich nicht um ein Model, sondern um einen Überbegriff, den wir im Fach Mensch und Entwicklung hatten. Ich habe die wichtigsten Punkte und Erklärungen im Zusammenhang mit der Sozialisation hier erläutert.
      </p>

      
    </div>
    <div class='introText notification navigation'>
      <a href="#definition">
        Definitionen und Begriffserklärungen
      </a>
      <a href="#phasen">
        Phasen der Sozialisation
      </a>
      <a href="#effekte">
        Sozialisationseffekte/Sozialisationswirkung
      </a>
      <a href="#bedingung">
        Bedingungen der Sozialisation
      </a>
      

      



    </div>

    <hr id="definition">

    <h2 >Definitionen</h2>
    <h3>Sozialisation</h3>
    <div class="introText">
      
      <p class="definition"><b>Sozialisation</b> ist der Prozess der Eingliederung bzw. Anpassung des heranwachsenden Menschen in die ihn umgebende Gesellschaft und Kultur<br>
        <a href="https://wirtschaftslexikon.gabler.de/definition/sozialisation-43285" target="_blank" class="quelle"><i>https://wirtschaftslexikon.gabler.de/definition/sozialisation-43285</i></a></p>
        <br>
    </div>
    <div class='introText'>
      <p>
        Sozialisation bedeutet also, dass wir durch unsere Umwelt lernen, wie wir uns in der Gesellschaft zu verhalten haben. Dabei erwerben wir Werte, Normen, Verhaltensmuster und Einstellungen, die es uns ermöglichen, mit unseren Mitmenschen zusammenzuleben. Da sich unsere Umwelt stetig verändert, fordert es, dass wir uns ihr Anpassen. Somit ist die Sozialisation ein lebenslanger Prozess. Bei einem Kind ist der Einfluss der Sozialisation jedoch um einiges grösser, als bei einer älteren Person. 
      </p>
    </div>
      <br>
      <h3>Erziehung</h3>
      <div class="introText">
        
      <p class="definition"><b>Erziehung</b> ist das beabsichtigte und zielgerichtete Einwirken des Erziehenden auf den zu Erziehenden, um das Verhalten und/oder Erleben des zu Erziehenden zu stärken oder zu ändern.<br>
        <a class="quelle"><i>MUE_SK_Sozialisation_2021_BAB, S.5</i></a></p>
        <br>
    </div>
    <div class='introText'>
      <p>
        Wie wird ein Kind sozialisiert? Mitunter der grösste Einfluss hat die Erziehung darauf. Und Erziehung bedeutet nichts anderes, als das der Erzieher das Kind so beeinflusst, dass es die Werte, Normen und Verhaltensweisen des Erziehers übernimmt. 
      </p>
    </div>
    <br>
    <h3>Sozialisationsinstanzen</h3>
      <div class="introText">
        
      <p class="definition"><b>Sozialisationsinstanzen</b> sind Träger oder Einrichtungen, die für die Sozialisation eines Menschen wichtig sind.<br>
        <a class="quelle"><i>MUE_SK_Sozialisation_2021_BAB, S.8</i></a></p>
        <br>
    </div>
    <div class='introText'>
      <p>
        Für mich klingt dieser Begriff im ersten Moment sehr kompliziert. Ist er aber garnicht. Sozialisationsinstanzen sind nur die Umfelder, in denen wir uns bewegen. Zum Beispiel unsere Familie ist ein solches Umfeld. Oder die Schule ein anderes Umfeld. Auch die Sozialen Medien können als Umfeld gesehen werden. Alle diese Umfelder beeinflussen uns in unseren Werten, Normen und Verhaltensweisen und sind damit Sozialisationsinstanzen.  
      </p>
    </div>
    <br><br>


    <hr id="phasen">


    <h2 >Phasen der Sozialisation</h2>
    <div class='introText'>
      <p>
        Der Sozialisationsprozess, der wie wir erfahren haben ein Leben lang andauert, wir in vier verschiedene Stufen eingeteilt. Diese sind die primäre, sekundäre, tertiäre und quartäre Sozialisation. 
      </p>
    </div>

  
    <h3>Primäre Sozialisation</h3>
    <div class='introText'>
      <p>Die primäre Sozialisation findet in den ersten Lebensjahren statt. Hauptsächlich übernimmt die Familie aber auch die Beziehung zu gleichaltrigen Kinder die Aufgabe. Das Kind entwickelt während dieser Zeit das Urvertrauen, lernt zu sprechen und sich der Familie anzupassen. Diese Fähigkeiten sind wichtig, damit sich das Kind in der nächsten Stufe weiter sozialisieren kann.</p>
    </div>
    <h3>Sekundäre Sozialisation</h3>
    <div class='introText'>
      <p>Die sekundäre Sozialisation beginnt meistens mit dem Eintritt in den Kindergarten und endet mit dem Erreichen des Erwachsenenalters. Hier ist nicht klar definiert, wann ein Mensch als Erwachsen gilt. Jedoch ist der Anfang der 20er Jahre eine gute Richtlinie.<br> In der sekundären Sozialisation übernehmen nun auch die Schule, die Freunde, Sport- und Freizeitvereine sowie soziale Medien einen grossen Einfluss auf die Sozialisation des Menschen. In dieser Phase festigt das Kind/der Teenager seine Werte und Normen (z.B. Man schlägt keine Menschen oder Tiere).</p>
    </div>
    <h3>Tertiäre Sozialisation</h3>
    <div class='introText'>
      <p>In der tertiären Sozialisation sollte das grundlegende Ziel der Sozialisation erreicht sein. Der Mensch soll fähig sein, sich in der Gesellschaft zurecht zu finden. Da sich die Umwelt aber stetig verändert, muss sich auch der Mensch immer wieder den neuen Herausforderungen anpassen.</p>
    </div>
    <h3>Quartäre Sozialisation</h3>
    <div class='introText'>
      <p>Die quartäre Sozialisation beginnt mit der Beendigung der Berufstätigkeit und geht bis ins höhere Lebensalter. Die Gesellschaft hat nun andere Erwartungen an den Menschen. Zum Beispiel geht die Gesellschaft nicht mehr davon aus, dass er im Zug stehen kann und ihm wird daher ein Sitzplatz frei gemacht. Neu braucht der Mensch auch mehr Unterstützung im Alltag. Diese Unterstützung in Anspruch nehmen zu müssen erfordert erneut ein Umstellen der eigenen Werte, Normen und Verhaltensweisen.</p>
    </div>
    <br><br>
      

    <hr id="effekte">
      

    <h2>Sozialisationseffekte</h2>
    <div class='introText'>
      <p>Sozialisationseffekte (auch gennant: Sozialisationswirkung) versuchen zu erkären, warum sich ein Mensch in einer Situation so verhält, wie er sich verhält.<br>
        Zum Beispiel wenn eine Mitarbeiterin eine Spinne sieht, reagiert sie mit Angst und fürchtet sich von der Spinne. Objektiv betrachtet gäbe es dafür keinen Grund, denn die Spinne kann ihr nichts anhaben. Warum verhält sie sich also so? Als Kind hat sie beobachtet, wie ihre Mutter auf eine Spinne reagiert. Diese Verhaltensweise hat sie kopiert. Die Mutter hatte also einen Sozialisationseffekt auf das Kind.<br><br>
        Wir können die Sozialisationseffekte in verschiedene Gruppen einteilen:
        <ul>
          <li><b>Fertigkeiten</b></li>
          <li><b>Wissen</b></li>
          <li><b>Denkschemata</b></li>
          <li><b>Motive und Bedürfnisse</b></li>
          <li><b>Norm- und Wertvorstellungen</b></li>
          <li><b>Politische und religiöse Einstellungen</b></li>
          <li><b>Gefühle</b></li>
          <li><b>soziale Verhaltensweisen</b></li>
          <li><b>Erziehungsvorstellungen</b></li>
        </ul>

        Zum Beispiel: Wenn deine Eltern dich jeden Sonntagmorgen mit in die Kirche genommen haben, so hat das einen Einfluss auf deine religöse Einstellung. Oder wenn ein Kind in der Kita motiviert wird, viel zu Zeichnen, hat das einen Effekt auf seine Fertigkeiten als Künstler.
      </p>
    </div>

    <hr id="bedingung">

    <h2 >Bedingungen der Sozialisation</h2>
     <div class='introText'>
      <p>Mit Bedingungen der Sozialisation ist hier nicht gemeint, was es braucht, damit sich ein Mensch sozialisieren kann, sondern welchen Bedingungen er dabei ausgesetzt ist. Anders gesagt, die Bedingungen der Sozialisation beschreiben, in welchem Umfeld der Mensch sozialisiert wird. Ein Kind in Syrien lebt unter anderen Bedingungen als ein Kind, das in der Schweiz aufwächst. Wir können die Bedingungen in einem Modell darstellen:</p>

    </div>

    <img class='modellPicture' src='/static/pictures/sozialisation_bedingungen.JPG' alt='Bild der vier Sozialisationsbedingungen'>
    <br>
    <h3>Subjektives System</h3>

    <div class='introText'>
      <p>Auf der innersten Ebene steht der Mensch selbst. Jeder Mensch nimmt seine Umwelt anders wahr und interpretiert sie anders. Nehmen wir eine blinde Person als Beispiel. Sie kann keine Autos oder Hindernisse im Strassenverkehr sehen, weshalb sie sich im Strassenverkehr anders verhalten muss. Durch ihre Blindheit wurde sie anders sozialisiert als eine sehende Person.</p>
      
    </div>

    <h3>Familiensystem</h3>
    <div class='introText'>
      <p>Auf der zweiten Ebene können wir schauen, in welcher Familiensituation der Mensch aufwächst. Welche Persönlichkeitsmerkmale haben die Eltern? Welche Werte vertreten sie? Hat die Familie genügend Geld? Kommen die Eltern am Abend müde von der Arbeit und haben keine Energie mehr für das Kind oder ist ein Elternteil immer zu Hause und gibt dem Kind viel Aufmerksamkeit? Alle diese Dinge haben Einfluss auf die Sozialisation des Kindes.</p>
    </div>
    <h3>Bildungssystem</h3>
    <div class='introText'>
      <p>Beim Bildungssystem können wir uns fragen, welche Bildungsmöglichkeiten das Kind hat. Ein Kind in ärmeren Ländern geniesst leider oft nicht die gleiche Bildungsmöglichkeit, als ein Kind in einem reichen Land.</p>
    </div>
    <h3>Kulturelles, gesellschaftliches System</h3>
    <div class='introText'>
      <p>Das kulturelle und gesellschaftliche System rundet die Bedingungen der Sozialisation ab. Du kennst sicher den Ausdruck "Dorfkind" oder "Stadtkind". Genau diese Begriffe erklären die kulturellen und gesellschaftlichen Bedingungen gut. Ein Kind auf dem Land wird nicht gleich sozialisiert, wie ein Kind in einer Grossstadt. Ebenso wird ein Kind in Appenzell Innerrohden nicht gleich sozialisiert, wie in der Stadt Bern.</p>
    </div>

    </div>
      
  </body>

</html>