<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modelle</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

    
    

    <div id='theorieDisplay'>
    <h1>Sozialisation</h1>

    <div class='introText'>
      <p>
        Bei diesem Thema handelt es sich nicht um ein Model, sondern um einen Überbegriff, den wir im Fach Mensch und Umwelt hatten. Ich habe die wichtigsten Punkte und Erklärungen im Zusammenhang mit der Sozialisation hier erläutert.
      </p>

      
    </div>
    <div class='introText notification navigation'>
      <a href="#definition">
        Definitionen und Begriffserklärungen
      </a>
      <a href="#verstarkung">
        Lernen durch Verstärkung (operantes Konditionieren)
      </a>
      <a href="#nachahmung">
        Lernen durch Nachahmung
      </a>
      <a href="#tryAndError">
        Lernen durch Versuch und Irrtum
      </a>
      <a href="#einsicht">
        Lernen durch Einsicht
      </a>

      
    </div>

    <div class="introText" id="definition">
      <p class="definition"><b>Sozialisation</b> ist der Prozess der Eingliederung bzw. Anpassung des heranwachsenden Menschen in die ihn umgebende Gesellschaft und Kultur<br>
        <a href="https://wirtschaftslexikon.gabler.de/definition/sozialisation-43285" target="_blank" class="quelle"><i>https://wirtschaftslexikon.gabler.de/definition/sozialisation-43285</i></a></p>
        <br>
        
      
    </div>

      


  </div>
  
  
  </body>

</html>