<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="static/icon/favicon.ico">
  <script type="text/javascript" src="static/js/targets.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
  <script type="text/javascript" src="/static/js/headNav.js"></script>
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav" >
      <div class="container" id="headNavContainer">
        
      </div>
    </div>

   <div class="introBox">
    <h1>Leistungsziele</h1>
    <p class="introText">Hier sind die Leistungsziele kurz beschrieben. Es geht mir vor allem darum, die Ziele kurz zu erklären, damit du weisst, was damit gemeint ist und Ideen bekommst, welche theoretischen Teile hinter den Zielen stecken.</p> </div>

    <nav class="boxmenu">

      <div class="clickableBox" id="cb0">
        1
      </div>
      <div class="clickableBox" id="cb1">
        2
      </div>

      <div class="clickableBox" id="cb2">
        3
      </div>

      <div class="clickableBox" id="cb3">
        4
      </div>

      <div class="clickableBox" id="cb4">
        5
      </div>

      <div class="clickableBox" id="cb5">
        6
      </div>

      <div class="clickableBox" id="cb6">
        7
      </div>
    </nav>

   <div id="targetBody">
   </div>
<!--
   <div class="targetBox">
      <div class="targetNumberBox" id="testBox">
        <span class="targetNumber">2.1.5 Kin</span>
      </div>
      <div class="targetExplain" id="testText">
        <p>Hier steht eine Erklärung für das Leistungsziel. Dabei ist es ein kleiner Fliesstext, der unten evt auf verschiedene Theorien im Theorieblock verweisen kann. Sharring is carring</p>
      </div>
    </div>-->
    </body>

</html>