<!DOCTYPE html>

<html lang="de">


<head>
  <meta charset="utf-8">
  /*remove dots*/
  <link rel="shortcut icon" href="../static/icon/favicon.ico">
  <script type="text/javascript" src="../static/js/targets.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
  <title>Fabe Kinder</title>
  </head>

  <body>

    <div class="header-nav">
      <div class=container>
        <span><a href="/">Startseite</a></span>
        <span><a href="/targets">Leistungsziele</a></span>
        <span><a href="/models">Modele</a></span>
        <span><a href="/contact">Kontakt</a></span>
        <span><a href="/impressum">Impressum</a></span>
      </div>
    </div>

   <div class="introBox">
    <h1>Leistungsziele</h1>
    <p class="introText">Hier stehen alle Leistungsziele der Lehre cronologisch aufgelistet</p>

    
   </div>

   <div class="targetBox">
      <div class="targetNumberBox" id="testBox">
        <span class="targetNumber">2.1.5 Kin</span>
      </div>
      <div class="targetExplain" id="testText">
        <p>Hier steht eine Erklärung für das Leistungsziel. Dabei ist es ein kleiner Fliesstext, der unten evt auf verschiedene Theorien im Theorieblock verweisen kann. Sharring is carring</p>
      </div>
    </div>
    </body>

</html>