html {
	background-color: white;
}

body{
	margin: 0;
}

.header-nav {
	width: auto;
	height: auto;
	padding: 30px;
	background-color: #FF9800;
	top: 0px;
	text-align: center;
	font-size: 3rem;

}

.header-nav > .conatiner {
}

.navigation > a {
	display: block;
	margin-top: 2rem;
}

.introBox {
	position: relative;
	text-align: center;
	padding:0 10% 0 10%;
}

.aboutMeText > h2 {
	font-size: 2.5rem;
}

.aboutMeText > p {
	font-size: 2rem;
	flex-shrink: 3;
	display: inline-block;
	max-width: 50em;
}

.aboutMeBox{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.aboutMeBox > img {
	width: auto;
	max-width: 400px;
	max-height: 50em;
	display: inline-block;
}

.inputForm {
	position: relative;
	text-align: center;
	padding:0 10% 0 10%;
	background-color: #0067ff;
	padding: 1rem;
	border-radius: 2rem;
	margin: 5%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.inputField {
	font-size: 2rem;
	
}

.inputForm > textarea {
	max-width: 90%;
	height: auto;

}


.button {
	width:60%;
	height: 5rem;
	background-color: #FF9800;
	cursor: pointer;
	font-size: 3rem;
	color: #FFF;
	vertical-align: center;
	border-radius: 2rem;
}

.targetBox{
	border: 0.5em #0067ff solid;
	margin: 0.5em;
}

.targetNumberBox {
	background-color: #0067ff;
	color: #FFF;
	text-align: left;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 0 10% 0 10%;
	/*margin: 0.5em 0.5em 0 0.5em;
	border: 5px #0067ff solid;*/
	
}

.targetExplain {
	/*border: 5px #0067ff solid;*/
	margin: 0 0.5em 0 0.5em;
}

.boxmenu{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.clickableBox {
	cursor: pointer;
	width:2em;
	height: 2em;
	margin: 1em;
	border: 0.4em solid #FF9800;
	background-color: #FF9800;
	border-radius: 0.2em;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
	font-size: 2rem;
}

.cklicked {
	background-color: #cc7a00;
	border: 0.4em solid #cc7a00; 
}

.introBox > h1 {
	font-size: 3rem;
}

.hiden {
	display: none;
}

#modellBody {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.modellContainer{
	height: 15em;
	width: 15em;
	min-height: 12em;
	min-width: 12em;
	padding: 0.5em;
	display: inline-block;
	border: 10px solid #0067ff;
	text-align: center;
	font-size: 2rem;
	margin:3%;
}

.modellPicture {
	width: auto;
	height: auto;
	max-width: 70%;
	max-height: 50%;
	display: box;
}

#theorieDisplay{
	margin: 0 3% 0 3%;
	font-size: 2rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#theorieDisplay > h1 {
	text-align: center;
}

#theorieDisplay > h2 {
	text-align: center;
}
#theorieDisplay > img {
	
}

.definition {
	border: #000 solid 0.2em;
	padding: 1.5em;

}

.quelle {
	float: right;
	padding-top: : 0.2em;
	font-size: 0.8em;
	text-decoration: none;
	color: #000;
}

.introBox > p {
	font-size: 2rem;
}


.header-nav > span {
	display: inline-block;
	float: right;
	padding: 10px;
	color: #FFF;


}

.header-nav > .container > span {
	margin-right: 1em;
	margin-left: 1em;
}

.notification {
	background-color: #0067ff;
	color: #FFF;
	padding: 2em;
	border-radius: 10px;
}

.notification > a {
	color: #FFF;
	text-decoration: underline;
	display: block;
}

.header-nav > .container > span > a {
	color: #FFF;
}

.header-nav > .container > span > a:link{
	text-decoration: none;
	color: #FFF !important;
}

.header-nav > .container > span > a:hover{
	text-decoration: none;
	color: #AAA;
}

.header-nav > .container > span > a:visted{
	text-decoration: none;
	color: #FFF !important;
}

.header-nav > .container > span > a:active{
	text-decoration: none;
	color: #FFF !important;
}